body{
    background-color: #0F0F0F;
}

h1{
    display: none;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .timer {
    font-size: 4rem;
    margin: 2rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  button {
    font-size: 1.5rem;
    padding: 0.5rem 1.9rem;
    border-radius: 32px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
  }

  .controls button:first-child{
    color: #fff;
    background-color: #0F0F0F;
    outline-color: #fff;
    outline: 2px solid;
  }
  .controls button:last-child{
    color: black;
    background-color: #fff;
    outline-color: black;
    outline: 2px solid;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.9);
  }